@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* Primary Colors */
  --background-main: hsl(233, 47%, 7%);
  --background-card: hsl(244, 38%, 16%);
  --background-image-overlay: hsl(277, 64%, 61%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%); /* main heading, stats */
  --white-transparent-1: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --white-transparent-2: hsla(0, 0%, 100%, 0.6); /* stat heading */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  box-sizing: border-box;
  color: var(--white);
  background-color: var(--background-main);
}

h1,
h2 {
  font-family: 'Inter', sans-serif;
  margin-bottom: 3rem;
  color: var(--white);
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

/* Info Section */

.info-container {
  background-color: var(--background-card);
  width: 40vw;
  height: 460px;
  padding: 6rem 8rem;
  border-radius: 7px 0 0 7px;
  /* background-color: seagreen; */
  flex-wrap: wrap;
  overflow: hidden;
}

.main-p {
  color: var(--white-transparent-1);
  line-height: 1.7;
  font-family: 'Inter', sans-serif;
}

.highlight {
  color: var(--background-image-overlay);
}

.stats {
  display: flex;
  align-items: center;
  /* justify-content: start; */
  margin-right: auto;
  margin-top: 8rem;
  /* background-color: seagreen;f */
}

.stats p {
  color: var(--white-transparent-2);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.stat {
  margin-right: auto;
}

/* .stat:not(:last-child) {
  margin-right: 4.4rem;
} */

/* Image Section */

.img-container {
  height: 460px;
  background: var(--background-image-overlay);
  width: 40vw;
  border-radius: 0 7px 7px 0;
}

.img-1 {
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.img-2 {
  display: none;
  mix-blend-mode: multiply;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
  padding-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA SCREENS */

@media only screen and (max-width: 600px) {
  .card-container {
    flex-direction: column;
    text-align: center;
  }

  .img-1 {
    display: none;
  }

  .img-2 {
    display: block;
  }

  .info-container {
    order: 2;
    border-radius: 0 0 7px 7px;
    width: 85vw;
    height: auto;
    padding: 4rem;
  }

  .img-container {
    order: 1;
    border-radius: 7px 7px 0 0;
    width: 85vw;
    height: 300px;
  }

  .stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: mediumpurple; */
    margin-top: 4rem;
  }

  .stat {
    /* background-color: mediumseagreen; */
    margin: 0 auto;
  }

  .stat:not(:first-child) {
    margin-top: 3rem;
  }

  .stat:not(:last-child) {
    margin-right: 0 a;
  }
}
